In [1]:
import pandas as pd
import joblib
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
movies = pd.read_csv("../dataset/clean_film/cleaned_movies.csv")
movies.head()

   movie_id  ...                                               cast
0     19995  ...  ['SamWorthington', 'ZoeSaldana', 'SigourneyWea...
1       285  ...   ['JohnnyDepp', 'OrlandoBloom', 'KeiraKnightley']
2    206647  ...    ['DanielCraig', 'ChristophWaltz', 'LéaSeydoux']
3     49026  ...    ['ChristianBale', 'MichaelCaine', 'GaryOldman']
4     49529  ...  ['TaylorKitsch', 'LynnCollins', 'SamanthaMorton']

[5 rows x 6 columns]

In [3]:
# 2️⃣ Gabungkan kolom teks menjadi satu fitur "content"
movies['content'] = movies['overview'].fillna('') + " " + movies['genres'].fillna('') + " " + movies['keywords'].fillna('')

In [4]:
movies.head()

   movie_id  ...                                            content
0     19995  ...  ['In', 'the', '22nd', 'century,', 'a', 'parapl...
1       285  ...  ['Captain', 'Barbossa,', 'long', 'believed', '...
2    206647  ...  ['A', 'cryptic', 'message', 'from', 'Bond’s', ...
3     49026  ...  ['Following', 'the', 'death', 'of', 'District'...
4     49529  ...  ['John', 'Carter', 'is', 'a', 'war-weary,', 'f...

[5 rows x 7 columns]

### TF-IDF Vectorizer

In [5]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matriks = tfidf_vectorizer.fit_transform(movies['content'])

In [15]:
tfidf_matriks.shape

(4806, 27452)

### Simpan Hasil preprocessing

In [6]:
joblib.dump(movies, '../dataset/preprocessing_data/processed_data.pkl')
joblib.dump(tfidf_vectorizer, "../models/tfidf_vectorizer.pkl")

['../models/tfidf_vectorizer.pkl']